@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%; /* #000000 */
    --foreground: 0 0% 90%; /* #E5E5E5 */

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 15%; /* #262626 */
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63%; /* #A0A0A0 */

    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 17%; /* #2B2B2B */
    --input: 0 0% 6%; /* #101010 */
    --ring: 0 0% 63%; /* #A0A0A0 */
    --radius: 1.125rem; /* 18px */
  }

  .dark {
    --background: 0 0% 0%; /* #000000 */
    --foreground: 0 0% 90%; /* #E5E5E5 */

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 15%; /* #262626 */
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63%; /* #A0A0A0 */

    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 17%; /* #2B2B2B */
    --input: 0 0% 6%; /* #101010 */
    --ring: 0 0% 63%; /* #A0A0A0 */
    --radius: 1.125rem; /* 18px */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
